<br><h2>Project : Movie Library Web Application.</h2>

<p>
    Assignment for Senior Full Stack Java Developers (Angular - Spring Boot).
    The application to design is a Movie Library.
    To help you in the Design of the application, you have at your disposal :
</p>

<h3>Context</h3>
<p>
    Assignment for Senior Full Stack Java Developers (Angular - Spring Boot).
    The application to design is a Movie Library.
    To help you in the Design of the application, you have at your disposal : <br/></p>
<p>
    a JSON file (data/movies.json) containing the movie list. A movie is represented as :
    
      "title":"Avengers: Infinity War",
      "director":"Anthony RUSSO, Joe RUSSO",
      "releaseDate":"25/04/2018",
      "type":"sci-fi"
    
    Date is formatted as: dd/MM/yyyy
</p>
<p>
    Create the SpringBoot Application
    1. Create a new GitHub Repository that you will send us.
    2. Create the SpringBoot Application.
    3. You will need to access to the movies.json file (read/write) (design your code in the best way you think it should be).
    4. You have to create a REST Controller to be able to list the movies.
    5. You have to create a REST Controller (or reuse the same) to be able to add/remove/update the list of movies.
    Create the Angular Single Page Application
    (If the candidate does not know Angular, use the Framework of your choice)</p>
<h3>Goal</h3>
<p>
    The Goal is to assert that the candidate has enough technical skills to :
    Create a SpringBoot application with REST API from scratch
    Create a Client Application (Angular or else) from scratch
    Write Short and Clean Code. 
</p>
